# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Output folders
chosen_rows/

# Specific files
notes_meeting.md
demo/debugdenoise.py
config.yaml
demo/debug.py
Generate_sourcefiles/
choosebackgrounds.py
generate_snippets.ipynb

*.dat
*.png

demo/debug.py
